<link href="/custom/addProduct.css" rel="stylesheet" />

<form class="form-horizontal container" style="max-width: 600px" method="POST" autocomplete="off" id="addProductForm">
  <fieldset>

    <!-- Form Name -->
    <legend>Thêm sản phẩm</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_name">Tên sản phẩm</label>
      <div>
        <input id="product_name" name="name" placeholder="Tên sản phẩm" class="form-control input-md" type="text" />
        <div class="col-md-4 control-label errorMessage" id="nameError"></div>

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_price">Giá sản phẩm</label>
      <div>
        <input id="product_price" name="price" placeholder="Giá sản phẩm" class="form-control input-md" type="number" />
        <div class="col-md-4 control-label errorMessage" id="priceError"></div>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_summary">Tóm tắt sản
        phẩm</label>
      <div>
        <input id="product_summary" name="summary" placeholder="Tóm tắt sản phẩm" class="form-control input-md"
          type="text" />
        <div class="col-md-4 control-label errorMessage" id="summaryError"></div>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_description">Mô tả sản
        phẩm</label>
      <div>
        <input id="product_description" name="description" placeholder="Mô tả sản phẩm" class="form-control input-md"
          type="text" />
        <div class="col-md-4 control-label errorMessage" id="descriptionError"></div>
      </div>
    </div>

    <label class="col-md-4 control-label">Loại sản phẩm</label>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="man" />
      <label class="form-check-label">
        Nam
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="woman" />
      <label class="form-check-label">
        Nữ
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="bag" />
      <label class="form-check-label">
        Bag
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="shoes" />
      <label class="form-check-label">
        Shoes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="watch" />
      <label class="form-check-label">
        Watch
      </label>
    </div>
    <div class="col-md-4 control-label errorMessage" id="categoryError"></div>
    <!-- File Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="thumbnail">Ảnh đại diện</label>
      <div>
        <input id="thumbnail" name="thumbnail" class="input-file" type="file" />
      </div>
      <img style={display: "none" ;} id="avatarPreview"></img>
      <div class="col-md-4 control-label errorMessage" id="avatarError"></div>
    </div>
    <!-- File Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="image">Danh sách ảnh</label>
      <div>
        <input id="image" name="filebutton" class="input-file" type="file" />
        <div class="col-md-4 control-label errorMessage" id="imageError"></div>
      </div>
      <div id="imagePreview"></div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button class="btn btn-primary">Add</button>
    </div>

  </fieldset>
</form>

<script src="/utils/handleAddProductForm.js"></script>