<link href="/custom/addProduct.css" rel="stylesheet" />

<form class="form-horizontal container" style="max-width: 600px" autocomplete="off" id="addProductForm"
  enctype="multipart/form-data">
  <fieldset>

    <!-- Form Name -->
    <legend>Add new product</legend>

    <!-- Text input-->
    <label class="col-md-4 control-label" id="message-error" for="product_name" style="color: red;"></label>
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_name">Product name</label>
      <div>
        <input id="product_name" name="name" placeholder="Name" class="form-control input-md" type="text" />
        <div class="col-md-4 control-label errorMessage" id="nameError"></div>

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_price">Product price</label>
      <div>
        <input id="product_price" name="price" placeholder="Price" class="form-control input-md" type="number" />
        <div class="col-md-4 control-label errorMessage" id="priceError"></div>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_summary">Product summary</label>
      <div>
        <input id="product_summary" name="summary" placeholder="Summary" class="form-control input-md"
          type="text" />
        <div class="col-md-4 control-label errorMessage" id="summaryError"></div>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="product_description">Product description</label>
      <div>
        <input id="product_description" name="description" placeholder="Description" class="form-control input-md"
          type="text" />
        <div class="col-md-4 control-label errorMessage" id="descriptionError"></div>
      </div>
    </div>

    <label class="col-md-4 control-label">Category</label>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="man" />
      <label class="form-check-label">
        Man
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="woman" />
      <label class="form-check-label">
        Woman
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="bag" />
      <label class="form-check-label">
        Bag
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="shoes" />
      <label class="form-check-label">
        Shoes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="category" type="checkbox" value="watch" />
      <label class="form-check-label">
        Watch
      </label>
    </div>
    <div class="col-md-4 control-label errorMessage" id="categoryError"></div>
    <!-- File Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="thumbnail">Thumbnail</label>
      <div>
        <input id="thumbnail" name="thumbnail" class="input-file" type="file" />
      </div>
      <img style={display: "none" ;} id="avatarPreview"></img>
      <div class="col-md-4 control-label errorMessage" id="avatarError"></div>
    </div>
    <!-- File Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="image">Photos list</label>
      <div>
        <input id="image" name="filebutton" class="input-file" type="file" />
        <div class="col-md-4 control-label errorMessage" id="imageError"></div>
      </div>
      <div id="imagePreview"></div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button class="btn btn-primary" style="display: flex; align-items: center">
        <div class="spinner-border" role="status" style="margin-right: 24px;">
          <span class="sr-only">Loading...</span>
        </div>Add
      </button>
    </div>

  </fieldset>
</form>

<script src="/utils/handleAddProductForm.js"></script>